div{
background-color: rgb(236, 244, 19);
padding-bottom:20px;
margin-bottom:10px;
}
.subtitles{
  background-color: grey;
  font-size: 30px;
}
 body{
            background-color: rgb(0, 0, 0);
        }
p{
            color:rgb(255, 255, 255);
            font-size:20px;
            text-align: left;
        }
div p{
        color:black;
}
h1{
            color:rgb(250, 255, 111);
            text-align: left;
}
.extra{
    color:rgb(250, 255, 111);
}
a:link
{
 color: rgb(236, 244, 19)
}
a:visited
{
color:white;

}
.target{
    background-color:rgb(255, 255, 255);
    width: 700px;
    height: 320px;
    border-radius: 15px;/*creates rounded corners*/
    box-sizing: border-box;/*never includes the margin size*/
}


.target-text{
text-align: justify;
 
}
.target-subtitles{
    text-align:  justify;
   font-size:30px;
   font-style:italic; 
}

.tar{
display: inline-block; /* types like block,inline,etc*/
box-sizing: border-box;
width: 300px;
height: 350px;
margin:10px;

}
.info{

    display:inline-block;
    margin-right:20px;
    box-sizing: border-box;
}
